{% extends 'front/base.html' %}

{% load static %}

{% block content %}
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">About Us</h1>
            <div class="d-inline-flex mb-lg-5">
                <p class="m-0 text-white"><a class="text-white" href="{% url 'index' %}">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">About Us</p>
            </div>
        </div>
    </div>


     <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">About Us</h4>
                <h1 class="display-4">DOA ISLAMIC</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 py-0 py-lg-5">
                    <h1 class="mb-3">Our Story</h1>
                    <h5 class="mb-3">Menjadikan ladang doa sebagai moto hidup untuk lebih baik bagi umat muslim</h5>
                    <p>Doa adalah senjata Muslimah dalam setiap keadaan.
Tidak ada kekuatan yang dapat mengalahkan kekuatan doa.
Sesuatu yang sepertinya mustahil terjadi, bisa menjadi kenyataan yang indah karena kekuatan sebuah doa yang diucapkan dengan ikhlas kepada Allah.</p>
                    <a href="" class="btn btn-secondary font-weight-bold py-2 px-4 mt-2">Learn More</a>
                </div>
                <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{% static 'front/img/biodata-about.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-4 py-0 py-lg-5">
                    <h1 class="mb-3">Biodata Diri</h1>
                    <tr>
                    <td bg color="#0000FF">NAMA : </td>
                    <td> Arda Fahmi Achmad </td><br><br>
                    </tr>
                    <tr>
                    <td bg color="#0000FF">UMUR : </td>
                    <td> 21 TAHUN </td><br><br>
                    </tr>
                    <tr>
                    <td bg color="#0000FF">ALAMAT : </td>
                    <td> JL.JUANDA </td><br><br>
                    </tr>
                     <tr>
                    <td bg color="#0000FF">HOBI : </td>
                    <td> MEMBACA </td><br><br>
                    </tr>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
{% endblock content %}