{% load static %}

<div class="sidebar-wrapper">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
            Kaltim Al-Islamic
        </a>
    </div>
    <ul class="nav">
        <li>
            <a class="nav-link" href="./user.html">
                <i class="nc-icon nc-circle-09"></i>
                <p>
                    {{user}}
                </p>
            </a>
        </li>
        <li>
            <a class="nav-link" href="{% url 'tabel_info' %}">
                <i class="nc-icon nc-paper-2"></i>
                <p>Hadits</p>
            </a>
        </li>
        {% if request.session.is_operator == 'operator' %}
        <li>
            <a class="nav-link" href="{% url 'tabel_users' %}">
                <i class="nc-icon nc-notes"></i>
                <p>Users</p>
            </a>
        </li>
        {% endif %}

    </ul>
</div>