{% extends 'back/base.html' %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-18">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <a class="btn btn-success" href="{% url 'tambah_info' %}">Tambah Hadits</a>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>No</th>
                                <th>Nama</th>
                                <th>Doa</th>
                                <th>Kategory</th>
                                <th>Date</th>
                                <th>Aksi</th>
                            </thead>
                            <tbody>
                                {% for i in info %}

                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{i.nama}}</td>
                                    <td>{{i.judul}}</td>
                                    <td>{{i.kategory}}</td>
                                    <td>{{i.date}}</td>
                                    <td>
                                        <a class="btn btn-sm btn-info" href=" {% url 'lihat_info' i.id %}">Lihat</a>
                                        <a class="btn btn-sm btn-warning" href="{% url 'edit_info' i.id %}">Edit</a>
                                        <a onclick="return confirm('Apakah anda yakin ingin menghapus?');" class="btn btn-sm btn-danger" href="{% url 'delete_info' i.id %}">Hapus</a>
                                    </td>
                                </tr>
                                {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}